.page {
  align-items: center;
  background-image: url('../images/background-game.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.container__right {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 121px;
  max-width: 450px;
  padding-top: 145px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.container__answers {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.answer {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: flex;
  gap: 20px;
  padding: 9px 10px;
  padding-right: 46px;
  width: 100%;
}

.answer__icon {
  height: 46px;
  width: 46px;
}

.letter {
  align-items: center;
  background-color: var(--gray-400);
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  height: 4.6rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 4.6rem;
}

.footer {
  align-items: center;
  background-color: var(--purple);
  bottom: 0;
  display: flex;
  height: calc(100vh - 630px);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.footer__icon, .footer__btn {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.footer__icon {
  margin-top: 68px;
}

.footer__btn {
  margin-left: 121px;
  margin-top: 10px;
  position: relative;
  width: 450px;
  z-index: 2;
}

.ghost__btn {
  height: 40px;
}

.btn__next {
  background: #2fc18c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1.92px;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}
