:root {

  --gray-100: #ebebeb;

  --gray-300: #e1e5eb;

  --gray-400: #ddd;

  --gray-600: #6b7588;

  --purple: #3c1b7a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--purple) white;
  scrollbar-width: auto;
}

html {
  font-family: Epilogue , sans-serif;
  font-size: 62.5%;
}

body > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border: none;
  border-radius: 16px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: rotate(-1deg);
  }

  20%, 80% {
    transform: rotate(1deg);
  }

  30%, 50%, 70% {
    transform: rotate(-3deg);
  }

  40%, 60% {
    transform: rotate(3deg);
  }
}
